<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution 
           adaptable="true" 
           id="cn.nju.seg.atg.contribution1" 
           objectClass="org.eclipse.cdt.core.model.IFunctionDeclaration">
         <action
               class="cn.nju.seg.atg.action.GenerateAction"
               enablesFor="1"
               icon="icons/java.ico"
               id="cn.nju.seg.atg.clff"
               label="CLFF-ATG">
         </action>
      </objectContribution>
   </extension>
-->
   <extension 
         point="org.eclipse.ui.menus">
       <menuContribution 
             locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <command
                commandId="cn.nju.seg.atg.commands.mainCommand"
                icon="icons/java.ico"
                id="cn.nju.seg.atg.popups.navigatorCommand"
                label="LFF-ATG"
                mnemonic="S"
                style="push">
              <visibleWhen 
                    checkEnabled="false">
               <iterate
                     ifEmpty="false" 
                     operator="and">
                  <instanceof 
                        value="org.eclipse.cdt.core.model.IFunction">
                  </instanceof>
               </iterate>
            </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.showCFG"
                icon="icons/tree.ico"
                id="cn.nju.seg.atg.popups.showCFG"
                label="Show CFG(simple)"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.showAllCFG"
                icon="icons/forest.ico"
                id="cn.nju.seg.atg.popups.showAllCFG"
                label="Show CFG(with function calls)"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.instrument"
                icon="icons/coffee.ico"
                id="cn.nju.seg.atg.popups.instrument"
                label="Instrument"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.views.ContentOutline?after=additions">
          <command
                commandId="cn.nju.seg.atg.commands.mainCommand"
                icon="icons/java.ico"
                id="cn.nju.seg.atg.toolbars.toolbarCommand"
                label="LFF-ATG"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.showCFG"
                icon="icons/tree.ico"
                id="cn.nju.seg.atg.toolbars.showCFG"
                label="Show CFG(simple)"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.showAllCFG"
                icon="icons/forest.ico"
                id="cn.nju.seg.atg.toolbars.showAllCFG"
                label="Show CFG(with function calls)"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.instrument"
                icon="icons/coffee.ico"
                id="cn.nju.seg.atg.popups.instrument"
                label="Instrument"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="menu:org.eclipse.ui.views.ContentOutline?after=additions">
          <command
                commandId="cn.nju.seg.atg.commands.mainCommand"
                icon="icons/java.ico"
                id="cn.nju.seg.atg.menus.menuCommand"
                label="LFF-ATG"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.showCFG"
                icon="icons/tree.ico"
                id="cn.nju.seg.atg.menus.showCFG"
                label="Show CFG(simple)"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.showAllCFG"
                icon="icons/forest.ico"
                id="cn.nju.seg.atg.menus.showAllCFG"
                label="Show CFG(with function calls)"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
          <command
                commandId="cn.nju.seg.atg.commands.instrument"
                icon="icons/coffee.ico"
                id="cn.nju.seg.atg.popups.instrument"
                label="Instrument"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:cn.nju.seg.atg.views.atgview?after=additions">
          <command
                commandId="cn.nju.seg.atg.commands.resultCommand"
                icon="icons/result.ico"
                id="cn.nju.seg.atg.menus.resultCommand"
                label="LFF-ATG result"
                mnemonic="S"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.cdt.core.model.IFunction">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
       </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.codan.ui.commands.category"
            id="cn.nju.seg.atg.commands.mainCommand"
            name="LFF-ATG">
      </command>
      <command
            categoryId="org.eclipse.cdt.codan.ui.commands.category"
            id="cn.nju.seg.atg.commands.resultCommand"
            name="LFF-ATG result">
      </command>
      <command
            categoryId="org.eclipse.cdt.codan.ui.commands.category"
            id="cn.nju.seg.atg.commands.showCFG"
            name="Show CFG(simple)">
      </command>
      <command
            categoryId="org.eclipse.cdt.codan.ui.commands.category"
            id="cn.nju.seg.atg.commands.showAllCFG"
            name="Show CFG(with function calls)">
      </command>
      <command
            categoryId="org.eclipse.cdt.codan.ui.commands.category"
            id="cn.nju.seg.atg.commands.instrument"
            name="Instrument">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.nju.seg.atg.gui.handlers.mainHandler"
            commandId="cn.nju.seg.atg.commands.mainCommand">
      </handler>
      <handler
            class="cn.nju.seg.atg.gui.handlers.resultHandler"
            commandId="cn.nju.seg.atg.commands.resultCommand">
      </handler>
      <handler
            class="cn.nju.seg.atg.gui.handlers.showCFGHandler"
            commandId="cn.nju.seg.atg.commands.showCFG">
      </handler>
      <handler
            class="cn.nju.seg.atg.gui.handlers.showAllCFGHandler"
            commandId="cn.nju.seg.atg.commands.showAllCFG">
      </handler>
      <handler
            class="cn.nju.seg.atg.gui.handlers.instrumentHandler"
            commandId="cn.nju.seg.atg.commands.instrument">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="cn.nju.seg.atg.gui.wizards.Configuration"
            icon="icons/clff.png"
            id="cn.nju.seg.atg.wizards.configuration"
            name="LFF-ATG Configuration">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cn.nju.seg.atg.categorys.atgview"
            name="LFF-ATG">
      </category>
      <view
            category="cn.nju.seg.atg.categorys.atgview"
            class="cn.nju.seg.atg.gui.views.GeneratorResultView"
            icon="icons/clff.png"
            id="cn.nju.seg.atg.views.atgview"
            name="LFF-ATG view"
            restorable="true">
      </view>
   </extension>
 
</plugin>
